<article id="trips" class="content-section">
    <header>
        <h1>Trips</h1>
    </header>
    <section class="trips clearfix">
        <span href= "trip.html" trip.html target="_blank" class="trip">
            <span class="trip-thumbnail" style="background-image: url('img/trips/northern-uganda/murchison_falls (bigger image).jpg')"></span>
            <div class="trip-details">
                <div class="trip-title">To North Africa</div>
                <p> The Mystical Sezibwa river. Continue to Masindi.  Accommodation and  Dinner...</p>
            </div>
        </span>
        <span href="trip.html" trip.html target="_blank" class="trip sipi-falls">
            <span class="trip-thumbnail"></span>
            <div class="trip-details">
                <div class="trip-title">In Central Africa</div>
                <p>Picnic at the Swamp sprig</p>
            </div>
        </span>
        <span href="trip.html" trip.html target="_blank" class="trip buffet">
            <span class="trip-thumbnail"></span>
            <div class="trip-details">
                <div class="trip-title">To Eastern Africa</div>
                <p>Experience the Taste of African Cousines</p>
            </div>
        </spam>
    </section>
</article>
